backports-abc
backports.ssl-match-hostname
certifi
fakeredis
futures
ipaddress
redis
msgpack
netifaces
numpy
pygelf==0.3.3
singledispatch
six
tornado
trollius
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
