aiomonitor; python_version>='3'
aioconsole; python_version>='3'
backports-abc
backports.ssl-match-hostname
certifi
fakeredis
futures
ipaddress
redis
msgpack
netifaces
numpy
pygelf
singledispatch
six
terminaltables; python_version>='3'
tornado
trollius
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
